<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h3>Create Blog</h3>
    <p th:href="@{/blog}">Back to list Blog</p>
    <form method="post" th:action="@{/editBlog}" th:object="${blog}">
        <table>
            <input type="hidden" th:field="*{id}">
            <tr>
                <td><label>Title</label></td>
                <td><input th:field="*{title}"></td>
            </tr>
            <tr>
                <td><label>Content</label></td>
                <td><input th:field="*{content}"></td>
            </tr>
            <tr>
                <td><label></label></td>
                <td><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>
</body>
</html>